<!DOCTYPE html>
<html lang="en">

<head>
    <title>按插件</title>
    <meta name='viewport' content='width=380' charset="utf-8"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<el-container id="app" style=" border: 1px solid #eee">
    <el-aside width="100px" style="background-color: rgb(238, 241, 246)">
        <el-menu>
            <el-menu-item index="1">
                <el-link href="/robot">机器人</el-link>
            </el-menu-item>
            <el-menu-item index="2">
                <el-link href="/group">按群管理</el-link>
            </el-menu-item>
            <el-menu-item index="3">
                <el-link href="/service">按插件管理</el-link>
            </el-menu-item>
        </el-menu>
    </el-aside>

    <el-main>
        <el-header><span>机器人</span></el-header>
        <el-table :data="robotData">
            <el-table-column prop="qq" label="QQ"></el-table-column>
            <el-table-column prop="name" label="昵称"></el-table-column>
        </el-table>
        <el-form ref="form" :model="form" :rules="rules" label-width="0px">
            <el-form-item prop="qq">
                <el-input v-model="form.qq" name="qq" placeholder="启动的机器人QQ" type="text"
                          @keyup.enter.native="onSubmit">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit" style="width: 100%;">切换</el-button>
            </el-form-item>
        </el-form>
    </el-main>
</el-container>

</body>
</html>
<script>
    let selfId = "{{ self_id }}";

    new Vue({
        el: '#app',
        data: {
            robotData: [
                {
                    "qq": "2289875995",
                    "name": '1号机',
                },
                {
                    "qq": "2921478035",
                    "name": "2号机",
                }
            ],
            form: {
                qq: selfId
            },
            rules: {
                qq: [
                    {required: true, message: '必须上述qq', trigger: 'blur'},
                ],
            }
        },
        methods: {
            post: function (url, params) {
                //创建form表单
                const temp_form = document.createElement("form");
                temp_form.action = url;
                //如需打开新窗口，form的target属性要设置为'_blank'
                // temp_form.target = "_blank";
                temp_form.method = "post";
                temp_form.style.display = "none";
                //添加参数
                for (const key in params) {
                    const opt = document.createElement("textarea");
                    opt.name = key;
                    opt.value = params[key];
                    temp_form.appendChild(opt);
                }
                document.body.appendChild(temp_form);
                //提交数据
                console.log(temp_form)
                temp_form.submit();
            },
            onSubmit: function () {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        const url = "switchRobot";
                        this.post(url, {
                            qq: this.form.qq
                        });
                    } else {
                        console.log('请检查输入！');
                        return false;
                    }
                });
            }
        }
    })
</script>
